setuptools 
protobuf
hdf5storage
h5py
py3nvml
pyinstrument
scikit-image
imgaug
scikit-learn
pydot
matplotlib
pandas
seaborn
scipy
yellowbrick
plotly
sentencepiece
beautifulsoup4
bertopic
contractions
dask
elasticsearch
emoji
farm-haystack
flair
gensim
hdbscan
inflect
nltk
spacy==3.4.4
spacy-transformers==1.1.9
textblob
tqdm
transformers
wordcloud
fastapi
uvicorn
