numpy
matplotlib
scikit-image
scikit-learn
pandas
scipy
Pillow
imutils
tqdm
yellowbrick
opencv-python
opencv-contrib-python
plotly
seaborn
pydot
imgaug
jupyterlab
protobuf==3.20.0
torch
torchaudio
torchvision
tensorflow